@import '../../styles/_config/variables';

.error {
    &__title {
        color: $color-mahogany;
        margin-bottom: $spacing-small;
    }
    &__text,
    &__title {
        text-align: center;
    }
}