
@import '../../../styles/_config/variables';

.button {
    width: 100px;
    height: 34px;
    padding: 4px 22px;
    border-radius: 80px;
    &:disabled {
        color: $color-semi-white;
        background-color: $color-nobel;
    }
}
