@import '../../../styles/_config/variables';

.helper {
    position: relative;
    border: 1px solid $color-alto;
    border-radius: 4px;
    &_error {
        border-color: $color-mahogany;
    }
    &__error,
    &__tip,
    &__label {
        position: absolute;
        font-size: 12px;
        line-height: 14px;
        color: $color-gray;
    }
    &__label,
    &__tip,
    &__error {
        left: 16px;
    }
    &__error {
        color: $color-mahogany;
    }
    &__tip,
    &__error {
        bottom: -16px;
        
    }
    &__label {
        padding: 0 4px;
        top: -8px;
        background-color: $color-background;
        &_error {
            color: $color-mahogany;
        } 
    }
}