@import '../../../styles/_config/variables';
@import '../../../styles/_config/include-fonts';
@import '../../../styles/_mixins/alignment';

.helper {
    position: relative;
    border-radius: 4px;
    &_border_normal {
        border: $border-input-alto;
    }
    &_border_error {
        border: $border-input-error;
    }
    &__error,
    &__tip,
    &__label {
        position: absolute;
        font-size: 12px;
        line-height: 14px;
        // color: $color-gray;
    }
    &__label,
    &__tip,
    &__error {
        left: 16px;
    }
    &__error {
        bottom: -17px;
        color: $color-mahogany;
    }
    &__tip {
        color: $color-gray;
        bottom: -16px;
    }
    &__label {
        padding: 0 4px;
        top: -13px;
        @include font-nunito-medium;
        background-color: $color-background;
        &_color_normal {
            color: $color-gray;
        }
        &_color_error {
            color: $color-mahogany;
        } 
    }
}
.file {
    position: relative;
    @include flex-center-v;
    height: 54px;

    &__btn {
        width: 83px;
        height: inherit;
        border-radius: 4px 0 0 4px;
        &_border_normal {
            border: $border-input-dark;
        }
        &_border_error {
            border: $border-input-error;
        }
    }
    &__preview {
        @include flex-center-v;
        height: inherit;
        flex-grow: 1;
        border-radius: 0 4px 4px 0px;
        &_border_normal {
            border: $border-input-alto;
            border-left-width: 0;
        }
        &_border_error {
            border: $border-input-error;
            border-left-width: 0;
        }
    }
    &__label {
        margin-left: 16px;
        &_color_dark {
            color: $color-dark;
        }
        &_color_gray {
            color: $color-gray;
        }
 
    }
}