@import '../../styles/_mixins/alignment';

.get {
    &__container {
        padding-top: 140px;
    }
    &__title {
        text-align: center;
    }
    &__users {
        margin-top: 50px;
    }
    &__more {

    }
    &__error {
        padding: 30px 0;
        text-align: center
        // @include flex-center;
    }
    &__preloader {
        padding: 30px 0;
        @include flex-center;
    }
}