@import '../../styles/_mixins/alignment';
@import '../../styles/_config/variables';


.get {
    &__container {
        padding-top: 140px;
    }
    &__title {
        text-align: center;
    }
    &__users {
        margin-top: 50px;
    }
    &__more {

    }
    &__error {
        padding: $spacing-large 0;
        text-align: center
    }
    &__preloader {
        padding: $spacing-large 0;
        @include flex-center;
    }
}