@import '../../styles/_mixins/alignment';
@import '../../styles/_config/variables';


.get {
    &__container {
        padding-top: 140px;
        @media screen and (max-width:(map-get($breakpoints, 'lg'))) {
            padding: 140px 60px 0 60px;
        }
        @media screen and (max-width:(map-get($breakpoints, 'md'))) {
            padding: 140px 32px 0 32px;
        }
        @media screen and (max-width: 570px) {
            padding: 140px 16px 0 16px;
        }
    }
    &__title {
        text-align: center;
    }
    &__users {
        margin-top: 50px;
    }
    &__more {

    }
    &__error {
        padding: $spacing-large 0;
        text-align: center
    }
    &__preloader {
        padding: $spacing-large 0;
        @include flex-center;
    }
}