@import '../../../styles/_config/variables';

.card {
    &__item {
        padding: 20px;
        text-align: center;
        border-radius: 10px;
        background-color: $color-white;
    }   
    &__avatar {
        display: inline-block;
        width: 70px;
        height: 70px;
        margin-bottom: 20px;
    }
    &__img {

    }
    &__name {
        margin-bottom: 20px;
    }
    &__about {

    }
    &__position {

    }
    &__email {

    }
    &__phone {

    }
}