@import '../../../styles/_config/variables';
@import '../../../styles/_config/include-fonts';
@import '../../../styles/_mixins/alignment';

.form {
    &__container {
        width: 380px;
        margin: 0 auto;
    }
    &__helper {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }
    &__input {
        height: 54px;
        width: 100%;
        padding: 0 16px;
        background-color: transparent;
        border: none;
        font-family: $font-family-base;
        @include font-nunito-regular;
        font-size: $font-size-base;
        line-height: $line-height-base;
        color: $color-gray;
        outline: none;
    }
    &__position {
        margin: 43px 0 50px 0;
        &-title {
            margin-bottom: 11px;  
        }
    }
    &__preloader {
        display: flex;
        justify-content: center;
        padding: $spacing-small 0;
    }
    &__error {
        // text-align: center;
        padding: $spacing-medium 0;    
    }
    &__file {

    }
    &__photo {
        width: 0;
        height: 0;
        &-label {
            @include flex-center;
            height: inherit;
            padding: 14px 15px;
            cursor: pointer;
        }
    }
    &__btn {
        @include flex-center-h;
        margin: 50px 0 0 0;
    }
}
