@import '../../../styles/_config/variables';
@import '../../../styles/_config/include-fonts';
@import '../../../styles/_mixins/alignment';

.form {
    &__container {
        position: relative;
        width: 380px;
        margin: 0 auto;
    }
    &__helper {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }
    &__input {
        height: 54px;
        width: 100%;
        padding: 0 16px;
        background-color: transparent;
        border: none;
        font-family: $font-family-base;
        @include font-nunito-regular;
        font-size: $font-size-base;
        line-height: $line-height-base;
        color: $color-gray;
        outline: none;
    }
    &__position {
        margin: 38px 0 46px 0;
        &-title {
            margin-bottom: 10px;   
        }
    }
    &__preloader {
        @include flex-center;
        padding: $spacing-small 0;
        &_cover {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 105%;
            transform: translate(-50%, -50%);
            border-radius: 2px;
            background-color: $color-cover;;
            pointer-events: all;
            z-index: 10;
        }
    }
    &__error {
        // text-align: center;
        padding: $spacing-medium 0;    
    }
    &__file {

    }
    &__photo {
        width: 0;
        height: 0;
        &-label {
            @include flex-center;
            height: inherit;
            padding: 14px 15px;
            cursor: pointer;
        }
    }
    &__btn {
        @include flex-center-h;
        margin: 50px 0 0 0;
    }
}
