// layout restrictions
$wrapper-max: 2560px !default;
$wrapper-min: 360px !default;
// container
$container-max-width: 1200px;
$container-padding: 15px;

// check points
$breakpoints: (
    xs: 360, //*
    sm: 576,
    md: 768px, 
    lg: 992px, 
    xl: 1200px,
    xxl: 1400px,
) !default;

// font
$font-family-base: 'Nunito Regular';
$font-weight-base: 400;
$font-size-base: 16px;
$line-height-base: 26px;
$font-style-base: normal;
$font-color-base: rgba(0, 0, 0, 0.87);

// colors


$color-white: #fff;
$color-black: #000;
$color-dark: rgba(0, 0, 0, 0.87);
$color-primary: #F4E041;
$color-background: #E5E5E5;


$color-mercury: #E5E5E5;
$color-boston-blue: #3A91BF;
$color-silver-chalice: #A8A8A8;
$color-elephant: #153C51;
$color-red-orange: #FF4631;
$color-sushi: #8DC63F;
$color-silver: #C4C4C4;





