// layout restrictions
$wrapper-max: 2560px !default;
$wrapper-min: 360px !default;
// container
$container-max-width: 1200px;
$container-padding: 15px;

// check points
$breakpoints: (
    sm: 360px,
    md: 768px,
    lg: 1024px, 
    xl: 1200px,
) !default;

// base font
$font-family-base: 'Nunito';
$font-weight-base: 400;
$font-size-base: 16px;
$line-height-base: 26px;
$font-style-base: normal;
$font-color-base: rgba(0, 0, 0, 0.87);

// colors
$color-white: #fff;
$color-semi-white: rgba(255, 255, 255, 0.87);
$color-black: #000;
$color-dark: rgba(0, 0, 0, 0.87);
$color-primary: #F4E041;
$color-background: #E5E5E5;
$color-alto: #D0CFCF;
$color-gray: #7E7E7E;
$color-mahogany: #CB3D40;
$color-robin:#00BDD3;
$color-nobel: #B4B4B4;
$color-turbo: #FFE302;
$color-alabaster: #F8F8F8;
$color-cover: rgba(0,0,0, 0.4);

//spacing
$spacing-ultrasmall: 8px;
$spacing-small: 15px;
$spacing-medium: 20px;
$spacing-large: 30px;

// border
$border-input-dark: 1px solid $color-dark;
$border-input-alto: 1px solid $color-alto;
$border-input-error: 2px solid $color-mahogany;





