@import '../../styles/_config/variables';
@import '../../styles/_mixins/alignment';

.banner {
    &__container {
        height: 650px;
        @media screen and (max-width:(map-get($breakpoints, 'lg'))) {
            background: center/cover no-repeat url('../../../public/img/bg/header-bg.svg');
        }
        @media screen and (max-width:(map-get($breakpoints, 'md'))) {
            height: 500px;
        }
    }
    &__article {
        @include flex-center;
        height: 100%;
        @media screen and (min-width:(map-get($breakpoints, 'lg'))) {
            background: center/cover no-repeat url('../../../public/img/bg/header-bg.svg');
        }
        @media screen and (max-width: map-get($breakpoints, 'sm')) {
            align-items: start;
        }
    }
    &__wrap {
        width: 380px;
        text-align: center;
    }
    &__title {
        margin-bottom: 21px;
        @media screen and (max-width: map-get($breakpoints, 'sm')) {
            margin-top: 40px;
        }
    }
    &__text {
        margin-bottom: 32px;
        &_color_white {
            color: $color-white;
        }
    }
    &__link {
        width: 100px;
        height: 34px;
        margin: 0 auto;
        border-radius: 80px;
    }
}