@import '../../styles/_config/variables';
@import '../../styles/_mixins/alignment';

.banner {
    &__container {
        height: 650px;
    }
    &__article {
        @include flex-center;
        height: 100%;
        background: center/cover no-repeat url('../../../public/img/bg/header-bg.svg');
    }
    &__wrap {
        width: 380px;
        text-align: center;
    }
    &__title {
        margin-bottom: 21px;
    }
    &__text {
        margin-bottom: 32px;
        &_color_white {
            color: $color-white;
        }
    }
    &__link {
        width: 100px;
        height: 34px;
        margin: 0 auto;
        border-radius: 80px;
    }
}